

* {
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: sans-serif;
  background-color: #d3d3d3;
  animation: bgcolor both 1 15s;
  animation-fill-mode: forwards;
}

@keyframes bgcolor{
  0%
  {
    background: #ecf0f1;
  }
  20%
  {
    background: #e74c3c;
  }
  40%
  {
    background: #2c3e50;
  }
  60%
  {
    background: #2c3e50;
  }
  80%
  {
    background: #000000;
  }
  100%
  {
    background: #000000;
  }
}


.bg-img{
  background-image: url(/assets/03.png);
  background-position: center;
  background-size: cover;
  height: 590px;
  width: 450px;
  position: absolute;
  top: 20em;
  left: -10em;
  bottom: -8em;
  z-index: -1;
}

.box{
  height: 500px;
  width: 1000px;
  background-color: white;
  margin: 10em auto;
  position: relative;
  overflow: hidden;
}

nav{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 2em;
  right: 3em;
  z-index: 2;
}

nav a{
  display: inline;
  margin: 1em;
  padding: 2em 0;
  text-decoration: none;
  color: var(--main-color);  
  font-size: 14px;
}

h1{
  position: absolute;
  margin: 2em 4em;
  text-transform: uppercase;
  font-family: 'ITC Avant Garde','Noto Sans TC','Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  color: rgb(29, 29, 29);
  z-index: 2;
}

p{
  position: absolute;
  font-size: 28px;
  font-weight: 900;
  width: 17em;
  margin-top: 7em;
  margin-left: 9em;
  margin-right: 3em;
  line-height: 1.3em;
  z-index: 2;
}

.black-box{
  height: 900px;
  width: 1000px;
  background-color: black;
  position: absolute;
  top: 4.8em;
  left: 13.75em;
  animation: right 4s both 1 linear;
  z-index: 3;
}

.grey-box{
  height: 700px;
  width: 1200px;
  background-color: rgb(179, 165, 165);
  position: absolute;
  z-index: 1;
  animation: down 5s both 1 linear;
}

.black-box-2{
  height: 900px;
  width: 1400px;
  background-color: black;
  position: absolute;
  z-index: 4;
  animation: up 7s both 1 ease-in-out;
}


@keyframes right {
  from {transform: translateX(-900px)}
  to{transform: translateX(0px)}
} 

@keyframes down {
  from {transform: translateY(-200em)}
  to{transform: translateY(-5em)}
}

@keyframes up {
  from {transform: translateY(1000em)}
  to{transform: translateY(0em)}
}


.text{
  color: white;
  z-index: 5;
  animation: textentering 8s both 1 ease-in-out;
  animation-delay: 5s;
}

@keyframes textentering {
  from {transform: translateX(-1500px)}
  to{transform: translateX(0px)}
} 


/* .wavy{
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
} */

.wavy span{
  position: relative;
  display: inline-block;
  animation: wave 9s ease-in-out 2;
  animation-delay: calc(0.1s * var(--i));
  animation-fill-mode: forwards;
}

@keyframes wave 
{
  0%{transform: translateY(0px)}
  20%{transform: translateY(-30px)}
  40%{transform: translateY(0px)}
  100%{opacity: 0}
}

/* .remove{
  animation: opacity 11s ease-in-out 1;
  animation-delay: 10s;
}

@keyframes opacity{
  0%
  {
    opacity: 1;
  }
  60%
  {
    opacity: 0.5;
  }
  100%
  {
    opacity: 0;
  }
} */
